<template>
    <div class="footer">
s
    </div>
</template>

<script>
    export default {
        name: "Footer"
    }
</script>

<style scoped>
.footer{
display: block;
    background-color: #5a5255;
    height: 14%;
}
</style>