<template>
    <div class="left">
            <div class="menu" v-for="item in items">
                <router-link :to="{name: item.route }">
                    <img :src="item.icon"/> {{item.name}}
                </router-link>
            </div>
        </div>
</template>

<script>
    export default {
        name: "Left-bar",
        data() {
            return {
                items: [
                    {name: 'Начало', icon: "images/home.svg", route: 'Home'},
                    {name: 'Търсене', icon: "images/search.svg", route: 'Search'},
                    {name: 'Оцветители', icon: "images/inks.svg", route: 'Colours'},
                    {name: 'Консерванти', icon: "images/can.svg", route: 'Preservatives'},
                    {name: 'Киселини', icon: "images/chem.svg", route: 'Acids'},
                    {name: 'Стабилизатори', icon: "images/stab.svg", route: 'Stabilisers'},
                    {name: 'Минерали', icon: "images/minerals.png", route: 'Minerals'},
                    {name: 'Ароматизатори', icon: "images/arom.svg", route: 'Flavors'},
                    {name: 'Смесители', icon: "images/mixer.svg", route: 'Mixers'},
                    {name: 'Опасни', icon: "images/bad.svg", route: 'Dangerous'},
                    {name: 'Несигурни', icon: "images/caution.svg", route: 'Unsafe'},
                    {name: 'Безвредни', icon: "images/good.svg", route: 'Harmless'},
                    {name: 'Забранени', icon: "images/forbidden.svg", route: 'Forbidden'},
                    {name: 'Разрешени', icon: "images/approve.svg", route: 'Allowed'},

                ],
                info: null
            }
        }
    }
</script>

<style scoped>
    .left {
        vertical-align: top;
        margin-left: 0px;
        width: 15%;
        height: 875px;
        display: inline-block;
        background-color: #1b85b8;
        border-radius: 5px;
    }

    .menu {
    padding-bottom: 24px;
    }

    .menu li {
        border: 1px black groove;
        list-style: none;

    }

    .menu a {
        vertical-align: middle;
        display: inline-block;
        color: black;
        text-decoration: none;
        text-align: center;
        font-size: 1.1em;

    }

    .menu div:hover {
        background-color: #ccc;
    }

    .menu img {
        vertical-align: middle;
        display: inline-block;
        height: 40px;
        width: 40px;
    }
    @media screen and (max-device-width: 900px){
        .menu a{
            font-size: 0.9em;
        }
    }

</style>