<template>
    <div class="right">
        <ul>
ss
        </ul>
    </div>
</template>

<script>
    export default {
        name: "Right-bar"
    }
</script>

<style scoped>
.right{
    vertical-align: top;
    margin-left: auto;
    margin-right: 0;
    width: 15%;
    height: 875px;
    display: inline-block;
    background-color: 	#1b85b8;
}

</style>