<template>
    <div class="inner">
        <div class="search">
            Въведете число или цялото(или частично) име на съставката.
            <input name="search">
            <br>
            <button v-on:click="search">Търсене</button>
        </div>
        <table id="table" class='steelBlueCols'>
            <thead>
            <tr>
                <th>№</th>
                <th>Име</th>
                <th>Опасно</th>
                <th>Забрана</th>
                <th>Инфо</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="info in displayInfo">
                <td>E{{info.id}}</td>
                <td>{{info.name}}</td>
                <td>{{info.toxic}}</td>
                <td>{{info.forbidden}}</td>
                <td><a v-on:click='get(info.id)'><img src='images/see.svg' height='30' width='30'></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="links">
                        <a v-on:click="pagination('-')">&laquo;</a>
                        <a v-on:click="pagination('+')">&raquo;</a>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
                <header class="w3-container w3-blue">
                            <span onclick="document.getElementById('id01').style.display = 'none'"
                                  class="w3-button w3-display-topright">&times;</span>
                    <h3>Информация</h3>
                </header>
                <div class="w3-container w3-blue ">

                    <p id="demo"></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Search",
        data() {

            return {
                info: null,
                displayInfo: [],
                rows: 11,
                page: 0,
                firsTime:false
            }
        },
        mounted(){
            document.getElementById("table").classList.toggle('hide');
        },
        methods: {
            search() {
                if(!this.firsTime) {
                    this.firsTime=true;
                    document.getElementById("table").classList.toggle('hide');
                }
                let id = document.getElementsByName("search")[0].value;
                let someArray = []; // soo its working variable
                axios
                    .get('api/search/' + id)
                    .then(response => (this.info = response.data))
                    .then(() => {
                        if (!Array.isArray(this.info)) {
                            console.log("bug");
                            someArray[0] = this.info;
                            this.info = someArray;
                        }
                        this.pagination(0);
                    });

            },
            pagination(pagE) {
                if (pagE === '-' && this.page > 0) {
                    this.page = this.page - 1;
                }
                if (pagE === '+' && this.info.length!=1 && (this.page * this.rows) < this.info.length) {
                    this.page = this.page + 1;
                }
                this.displayInfo = [];
                let maxShow = (this.info.length - (this.page * this.rows) > this.rows) ? this.rows : this.info.length - (this.page * this.rows);
                for (let i = this.page * this.rows; i < (this.page * this.rows) + maxShow; i++) {

                    this.displayInfo.push(this.info[i]);

                }
                this.$forceUpdate();
            },
            get(id) {
                this.pagination();
                axios
                    .get('api/enumber/' + id)
                    .then(response => (document.getElementById("demo").innerHTML = response.data));
                document.getElementById("id01").style.display = "block";

            }
        }
    }
</script>

<style scoped>
    .hide{
        display: none;
    }
    .inner {
        vertical-align: top;
        width: 69%;
        display: inline-block;
        height: 875px;
    }

    .search {
        width: 33%;
        height: 200px;
        margin-left: 33%;
        padding-top: 3%;
        font-size: 25px;
    }

    input {
        height: 50px;
        font-size: 30px;
        width: 100%;
        border-radius: 5px;
        margin-top: 5%;
    }

    button {
        width: 100%;
        height: 50px;
        border-style:none;
        border-radius:5px;
        background-color: #455164;
        margin-top: 5%;
    }


    /*
        TABLE
    */
    table.steelBlueCols {
        margin-top: 5%;
        border: 4px solid #555555;
        background-color: #555555;
        border-radius: 7px;
        width: 100%;
        text-align: center;
    }

    table.steelBlueCols td, table.steelBlueCols th {
        border: 1px solid #555555;
        padding: 5px 10px;
    }

    table.steelBlueCols tbody td {
        font-size: 12px;
        font-weight: bold;
        color: #FFFFFF;
        word-break: break-all;
        word-wrap: break-word;
    }

    table.steelBlueCols td:nth-child(even) {
        background: #398AA4;
    }

    table.steelBlueCols thead {
        background: #09424F;
        border-radius: 7px;
        border-bottom: 0px solid #000000;
    }

    table.steelBlueCols thead th {
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        border-radius: 7px;
        text-align: center;
        border-left: 1px solid #122C35;
    }

    table.steelBlueCols thead th:first-child {
        border-left: none;
    }

    table.steelBlueCols tfoot td {
        font-size: 14px;

    }

    table.steelBlueCols tfoot .links {
        text-align: center;

    }

    table.steelBlueCols tfoot .links a {
        display: inline-block;
        background: #FFFFFF;
        color: #398AA4;
        padding: 2px 8px;
        border-radius: 5px;
        height: 45px;
        width: 45px;
        font-size: 27px;
    }

</style>