<template>
    <div class="inner">
        <table class='steelBlueCols'>
            <thead>
            <tr>
                <th>№</th>
                <th>Име</th>
                <th>Опасно</th>
                <th>Забрана</th>
                <th>Инфо</th>
            </tr>
            </thead>
            <tbody>
            <tr v-for="info in displayInfo">
                <td>E{{info.id}}</td>
                <td>{{info.name}}</td>
                <td>{{info.toxic}}</td>
                <td>{{info.forbidden}}</td>
                <td><a v-on:click='get(info.id)'><img src='images/see.svg' height='30' width='30'></a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <td colspan="5">
                    <div class="links">
                        <a v-on:click="pagination('-')">&laquo;</a>
                        <a v-on:click="pagination('+')">&raquo;</a>
                    </div>
                </td>
            </tr>
            </tfoot>
        </table>
        <div id="id01" class="w3-modal">
            <div class="w3-modal-content">
                <header class="w3-container w3-blue">
                            <span onclick="document.getElementById('id01').style.display = 'none'"
                                  class="w3-button w3-display-topright">&times;</span>
                    <h3>Информация</h3>
                </header>
                <div class="w3-container w3-blue ">

                    <p id="demo"></p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Table",

        data() {
            return {
                infos: null,
                displayInfo: [],
                rows: 17,
                page: 0,
            }
        },
        created() {
            axios
                .get('api/enumber/type/' + this.$route.name)
                .then(response => (this.infos = response.data))
                .then(() => {
                    let maxShow = (this.infos.length > 17) ? 17 : this.infos.length;
                    for (let i = 0; i < maxShow; i++) {
                        this.displayInfo.push(this.infos[i]);
                    }
                });
        },
        mounted() {

        },
        methods: {
            pagination(pagE) {
                if (pagE === '-' && this.page > 0) {
                    this.page = this.page - 1;
                }
                if (pagE === '+' && (this.page * this.rows) < this.infos.length) {
                    this.page = this.page + 1;
                }
                this.displayInfo = [];
                let maxShow = (this.infos.length - (this.page * this.rows) > this.rows) ? this.rows : this.infos.length - (this.page * this.rows);
                for (let i = this.page * this.rows; i < (this.page * this.rows) + maxShow; i++) {

                    this.displayInfo.push(this.infos[i]);

                }
                this.$forceUpdate();
            },
            get(id) {
                this.pagination();
                axios
                    .get('api/enumber/' + id)
                    .then(response => (document.getElementById("demo").innerHTML = response.data));
                document.getElementById("id01").style.display = "block";

            }
        }
    }

</script>

<style scoped>
    .inner {
        vertical-align: top;
        width: 69%;
        display: inline-block;
        height: 750px;
    }

    /*
*/
    table.steelBlueCols {
        border: 4px solid #555555;
        border-radius: 7px;
        width: 100%;
        text-align: center;
    }

    table.steelBlueCols td, table.steelBlueCols th {
        border: 1px solid #555555;
        padding: 5px 10px;
    }

    table.steelBlueCols tbody td {
        font-size: 12px;
        font-weight: bold;
        color: #FFFFFF;
        word-break: break-all;
        word-wrap: break-word;
    }

    table.steelBlueCols td:nth-child(even) {
        background: #398AA4;
    }

    table.steelBlueCols thead {
        background: #09424F;
        border-radius: 7px;
        border-bottom: 0px solid #000000;
    }

    table.steelBlueCols thead th {
        font-size: 18px;
        font-weight: bold;
        color: #FFFFFF;
        border-radius: 7px;
        text-align: center;
        border-left: 1px solid #122C35;
    }

    table.steelBlueCols thead th:first-child {
        border-left: none;
    }

    table.steelBlueCols tfoot td {
        font-size: 14px;

    }

    table.steelBlueCols tfoot .links {
        text-align: center;

    }

    table.steelBlueCols tfoot .links a {
        display: inline-block;
        background: #FFFFFF;
        color: #398AA4;
        padding: 2px 8px;
        border-radius: 5px;
        height: 45px;
        width: 45px;
        font-size: 27px;
    }


    /*                                */


</style>