<template>
    <div class="top">
        <img src="images/logo1.png">
    </div>
</template>

<script>
    export default {
        name: "Top"
    }
</script>

<style scoped>
.top{
   /* background-color: #559e83;*/
    padding: 1%;
    display: block;
    border-radius: 5px;
}
    img{
        margin-right: 40%;
        margin-left: 40%;
        height: 15%;
        width: 20%;
    }
@media only screen and (max-width: 1138px) {
    img{
        margin-right: 1%;
        margin-left: 1%;
        height: 15%;
        width: 95%;
    }
}
</style>