<template>
    <div class="inner" v-html="this.info.data" >
    </div>
</template>

<script>
    export default {
        name: "Welcome",
        data() {
            return {
                info: null
            }
        },
        created() {
            axios
                .get('api/home')
                .then(response => (this.info = response))
        }
    }
</script>

<style>
    .inner {
        padding-top: 2%;
        vertical-align: top;
        width: 69%;
        display: inline-block;

        height: 875px;
        color: white;
        font-size: 1rem;
    }
    p
    {

        padding-left: 25%;
        padding-right: 25%;
    }

</style>