<template>
    <div class="body">
        <app-top></app-top>
        <app-left-bar></app-left-bar>
        <router-view :key="$route.path" />
        <app-right-bar></app-right-bar>
        <app-footer></app-footer>
    </div>
</template>

<script>
    import Top from './components/Top.vue';
    import Left_bar from './components/Left-bar.vue';
    import Right_bar from './components/Right-bar.vue';
    import Footer from './components/Footer.vue';
    export default {
        name: "App.vue",
        components:{
            'app-top': Top,
            'app-left-bar' : Left_bar,
            //'app-right-bar' : Right_bar,
           // 'app-footer':Footer,
        }
    }
</script>

<style scoped>
.body{
    background-color: #5a5255;
}
</style>